<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redditcloneandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.example.redditcloneandroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.MainPageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.ProfilActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.SuspendCommunityActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.DeleteModeratorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ReportListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ReportPostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.CreatePostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.CreateCommunityActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.MainPageActivityComment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.AddNewFlairsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.UpdateListOfRulesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.MainActivityAdministrator"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.MainActivityModerator"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.PostListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.PostForm"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.PostListActivity">
        </activity>

        <activity
            android:name=".activities.UserListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.UserForm"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.MainActivityKt"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.MainActivityUsers"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateUserActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityUser"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditUserActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommunity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommunities"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommunitiesActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommunityActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreatePostsActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPost"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPost"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditPostActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommentActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityComment"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityComment"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommentActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityFlair"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateFlairActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityFlair"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditFlairActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityReportComment"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityReportPost"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityReportComment"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityReportPost"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateReportCommentsActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateReportPostsActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditReportCommentActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditReportPostActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityGuest"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityGuest"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPostModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.ProfilActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.ProfilActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPostAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPostModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditPostActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreatePostsActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPostAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreatePostsActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditPostActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateUserActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateUserActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityUserModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityUserAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityUsersModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityUsersAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommunitiesActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommunitiesActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommunityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommunityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommunityActivityAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommunityActivityModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommunitiesAdministrator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommunitiesModerator"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommentTwoActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.CreateCommentThreeActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommentTwo"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommentThree"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommentTwoActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.EditCommentThreeActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommentTwo"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommentThree"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityCommentGuest"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityCommentGuest"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPostOne"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPostTwo"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.MainActivityPostThree"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPostOne"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPostTwo"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.DetailActivityPostThree"
            android:label="@string/app_name"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>